.container{
    text-align: center;
    margin-top: 30px;
}

table{
    margin: auto;
}

input{
    font-size: 32px;
    border-radius: 10px;
    border: 3px solid rgb(45, 70, 45);
    background-color: rgb(242, 237, 215);

}
button {
    border-radius: 20px;
    font-size: 21px;
    background-color: #e2d5d5;
    width: 98px;
    height: 65px;
}
.calculator{
    display: inline-block;
    background-color: #897853;
    padding: 4px;
    border-radius: 30px;

}
h1{
    color:#b18d7a ;
    font-family:cursive
}

.equal2{
    background-color: green;
}
.C{
    background-color: red;
}
body{
    background-color: #b4a5a5;
}

.author{
    color: #630000;
    float: right;
    font-family: cursive;

}
.Summary{
    color: black;
    float: left;
    font-family: cursive;
}